body {
	background-color:black;
	font-family:arial;
	color:white
}
h1 {
	color:grey;
	font-family:verdana;
	text-align:left
}
.mainform {
	padding: 0px 90px;
}
.labelInputsDiv {
	vertical-align: middle;
	display: grid;
	grid-template-columns: 100px 100px;
	grid-template-rows: 50px 50px 50px;
	grid-gap: 0px
}
.inputsDiv {
	display: flex;
	align-items: center;
}
.maindiv {
    background-color:white;
    color:black;
    width:500px;
	min-height: 300px;
    padding:30px 50px;
    border-radius:25px;
    margin:auto;
}


